@tailwind base;

@tailwind components;

@import "~at-ui-style/css/at.css";

button {
  &:focus {
    @apply outline-none !important;
  }
}

.storybook-button {
  @apply font-bold border-0 rounded-full cursor-pointer inline-block leading-none;

  @apply font-sans outline-none;
}

.storybook-button--primary {
  @apply text-white bg-blue-500;
}

.storybook-button--secondary {
  @apply text-gray-700 bg-transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  @apply text-sm py-2 px-4;
}

.storybook-button--medium {
  @apply text-base py-3 px-5;
}

.storybook-button--large {
  @apply text-lg py-3 px-6;
}

@tailwind utilities;
