<template>
<!--    <button type="button" :class="classes" @click="onClick" :style="style">{{ label }}</button>-->
    <at-button :class="/*classes*/''" @click="onClick" :style="style">{{label}}</at-button>
</template>

<script>
import './button.css';

import AtButton from 'at-ui/src/components/button';

export default {
    name: 'my-button',

    components: {
        AtButton
    },

    props: {
        label: {
            type: String,
            required: true,
        },
        primary: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String,
            default: 'medium',
            validator: function (value) {
                return ['small', 'medium', 'large'].indexOf(value) !== -1;
            },
        },
        backgroundColor: {
            type: String,
        },
    },

    computed: {
        classes() {
            return {
                'storybook-button': true,
                'storybook-button--primary': this.primary,
                'storybook-button--secondary': !this.primary,
                [`storybook-button--${this.size}`]: true,
            };
        },
        style() {
            return {
                backgroundColor: this.backgroundColor,
            };
        },
    },

    methods: {
        onClick() {
            this.$emit('onClick');
        },
    },
};
</script>
