<template>
    <span v-if="type === 'mark' || (type === 'blink' && !inBlink)" class="p-2 blinking-cell mark">
        <span>
            <template v-if="stableAliasPart">{{stableAliasPart}}</template>
            <template v-else>&nbsp;</template>
        </span>
        <span class="mark-part"
              :class="{
                  isGrow: isGrow,
                  isFall: isFall,
                  'text-xs': markPartSmaller
              }">{{changedAliasPart}}</span>
    </span>
    <span v-else-if="type === 'blink' && inBlink"
          class="p-2 blinking-cell blink"
          :class="{
            isGrow: isGrow,
            isFall: isFall
          }"
    >
        {{valueAlias}}
    </span>
</template>
<script>
let DROP_BLINK_FUNCS_ARRAY;
let DROP_BLINK_TIMEOUT;
const BLINK_INTERVAL = 300;

export default {
    name: 'blinking-cell',
    props: {
        value: {
            required: true,
            type: Number
        },
        valueAlias: {
            required: true,
            type: String
        },
        blinkInterval: {
            required: false,
            default: 300
        },
        type: {
            type: String,
            required: false,
            default: 'blink',
            validate(v) {
                return ['blink', 'mark'].indexOf(v) !== -1;
            }
        },
        markPartSmaller: {
            type: Boolean,
            required: false,
            default: true
        }
    },
    data() {
        return {
            isGrow: false,
            isFall: false,
            prevAlias: null,
            inBlink: false
        }
    },
    computed: {
        stableAliasPart() {
            if (!this.prevAlias || (!this.isGrow && !this.isFall)) {
                return this.valueAlias;
            } else {
                let stablePart = '';
                for(let i = 0, l = this.valueAlias.length; i < l; i++) {
                    const currentPart = this.valueAlias[i];
                    const prevPart = this.prevAlias[i];

                    if (currentPart === prevPart) {
                        stablePart = stablePart + currentPart;
                    } else {
                        break;
                    }
                }
                return stablePart;
            }
        },
        changedAliasPart() {
            if (!this.prevAlias || (!this.isGrow && !this.isFall)) {
                return ''
            } else {
                const stableAliasPart = this.stableAliasPart;
                return this.valueAlias.slice(stableAliasPart.length);
            }
        }
    },
    methods: {
        dropTimeout() {
            if (this.cb) {
                DROP_BLINK_FUNCS_ARRAY = DROP_BLINK_FUNCS_ARRAY
                    .filter((cb) => cb !== this.cb);

                delete this.cb;
            }
        },
        addToBlink(cb) {
            if (!DROP_BLINK_FUNCS_ARRAY) {
                DROP_BLINK_FUNCS_ARRAY = [];
            }
            DROP_BLINK_FUNCS_ARRAY.push(cb);

            if (!DROP_BLINK_TIMEOUT) {
                DROP_BLINK_TIMEOUT = true;
                requestAnimationFrame(() => {
                    setTimeout(() => {
                        requestAnimationFrame(() => {
                            DROP_BLINK_FUNCS_ARRAY.forEach((cb) => cb());

                            DROP_BLINK_FUNCS_ARRAY = [];
                            DROP_BLINK_TIMEOUT = void 0;
                        });
                    }, BLINK_INTERVAL);
                });
            }
        }
    },
    watch: {
        value(currValue, prevValue) {
            this.dropTimeout();

            if (currValue > prevValue) {
                this.isGrow = true;
                this.isFall = false;
            } else if (currValue < prevValue) {
                this.isFall = true;
                this.isGrow = false;
            }

            this.inBlink = true;

            if (this.blinkInterval && this.type === 'blink') {
                const cb = () => {
                    this.inBlink = false;
                };

                this.addToBlink(cb);
                this.cb = cb;
            }
        },
        valueAlias(currValue, prevValue) {
            this.prevAlias = prevValue;
        },
        type(newVal) {
            if (newVal === 'mark') {
                this.dropTimeout();
            } else {
                this.isFall = false;
                this.isGrow = false;
            }
        }
    },
    beforeDestroy() {
        this.dropTimeout();
    }
}
</script>
<style lang="scss">
.blinking-cell {
    @apply rounded transition-colors duration-500 flex;

    &.blink {
        &.isGrow {
            @apply text-white bg-green-300;
        }

        &.isFall {
            @apply text-white bg-red-300;
        }
    }

    &.mark {

        .mark-part {
            @apply self-end;
        }

        .isGrow {
            @apply text-green-600;
        }

        .isFall {
            @apply text-red-600;
        }
    }
}
</style>