<template>
    <div class="w-full">
        <at-input placeholder="Search symbol..." icon="icon-search" class="w-full mb-2" v-model="searchString"></at-input>
        <div class="at-table at-table--stripe at-table--normal at-table--border w-full overflow-auto">
            <div class="at-table__content">
                <div class="at-table__body">
                    <table>
                        <thead class="at-table__thead">
                        <tr>
                            <th class="at-table__cell at-table__column" v-for="col in columns" :key="col.key">
                                {{col.title}}
                            </th>
                        </tr>
                        </thead>
                        <tbody class="at-table__tbody">
                        <tr v-if="!tableData.length">
                            <td :colspan="columns.length" class="at-table__cell at-table__cell--nodata">
                                No data
                            </td>
                        </tr>

                        <tr v-for="row in tableData" :key="row.symbol" v-show="!searchString || row.symbol.toUpperCase().indexOf(searchStringUppercase) !== -1">
                            <td v-for="col in columns" :key="col.key" class="at-table__cell">
                                <span v-if="col.formatter === 'string'" class="whitespace-no-wrap">
                                    {{ row[col.key] }}
                                </span>
                                <span v-else-if="col.formatter === 'datetime'" class="whitespace-no-wrap">
                                    {{ getFormattedDate(row.datetime) }}
                                </span>
                                <blinking-cell v-if="col.formatter === 'price'"
                                               :value="getFormattedPrice(row.symbol, row[col.key])"
                                               :value-alias="getFormattedPriceAlias(row.symbol, row[col.key])"
                                ></blinking-cell>
                                <blinking-cell v-if="col.formatter === 'number'"
                                               :value="row[col.key]"
                                               :value-alias="(row[col.key] || 0).toString()"
                                               type="mark"
                                               :mark-part-smaller="false"
                                ></blinking-cell>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!--        <at-table :columns="columns" :data="tableData" :border="true" :stripe="true"></at-table>-->
    </div>
</template>
<script>
import ccxt from 'ccxt';
import moment from 'moment-timezone';

import AtInput from 'at-ui/src/components/input';
import AtTable from 'at-ui/src/components/table';
import BlinkingCell from './blinking-cell';

import dateFormatterMixin from '../mixins/date-formatter';

const DEFAULT_COLUMNS = [
    {
        title: 'symbol',
        key: 'symbol',
        description: 'string symbol of the market (\'BTC/USD\', \'ETH/BTC\', ...)',
        sortType: 'asc',
        formatter: 'string',
        render(h, {column, index, item}) {
            return h('span', item.symbol);
        }
    }, {
        title: 'timestamp',
        key: 'timestamp',
        description: 'int (64-bit Unix Timestamp in milliseconds since Epoch 1 Jan 1970)',
        formatter: 'string',
        show: false
    }, {
        title: 'datetime',
        key: 'datetime',
        description: 'ISO8601 datetime string with milliseconds',
        formatter: 'datetime',
        render(h, {item}) {
            return h('span', {
                class: 'whitespace-no-wrap'
            }, moment.utc(item.datetime).tz(moment.tz.guess()).format('YYYY-MM-DD HH:mm:ss'))
        }
    }, {
        title: 'high',
        key: 'high',
        description: 'highest price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.high || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'low',
        key: 'low',
        description: 'lowest price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.low || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'bid',
        key: 'bid',
        description: 'current best bid (buy) price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.bid || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'bidVolume',
        key: 'bidVolume',
        description: 'current best bid (buy) amount (may be missing or undefined)',
        formatter: 'number',
        render(h, {item}) {
            const val = item.bidVolume;

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString(),
                    type: 'mark',
                    markPartSmaller: false
                }
            })
        }
    }, {
        title: 'ask',
        key: 'ask',
        description: 'current best ask (sell) price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.ask || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'askVolume',
        key: 'askVolume',
        description: 'current best ask (sell) amount (may be missing or undefined)',
        formatter: 'number',
        render(h, {item}) {
            const val = item.askVolume;

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString(),
                    type: 'mark',
                    markPartSmaller: false
                }
            })
        }
    }, {
        title: 'vwap',
        key: 'vwap',
        description: 'volume weighed average price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.vwap || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'open',
        key: 'open',
        description: 'opening price',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.open || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'close',
        key: 'close',
        description: 'price of last trade (closing price for current period)',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.close || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'last',
        key: 'last',
        description: 'same as `close`, duplicated for convenience',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.last || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'previousClose',
        key: 'previousClose',
        description: 'closing price for the previous period',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.previousClose || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'change',
        key: 'change',
        description: 'absolute change, `last - open`',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.change || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'percentage',
        key: 'percentage',
        description: 'relative change, `(change/open) * 100`',
        formatter: 'number',
        render(h, {item}) {
            const val = item.percentage;

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'average',
        key: 'average',
        description: 'average price, `(last + open) / 2`',
        formatter: 'price',
        render(h, {item}) {
            const val = this.exchangeInstance.priceToPrecision(item.symbol, item.average || 0)

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString()
                }
            })
        }
    }, {
        title: 'baseVolume',
        key: 'baseVolume',
        description: 'volume of base currency traded for last 24 hours',
        formatter: 'number',
        render(h, {item}) {
            const val = item.baseVolume;

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString(),
                    type: 'mark',
                    markPartSmaller: false
                }
            })
        }
    }, {
        title: 'quoteVolume',
        key: 'quoteVolume',
        description: 'volume of quote currency traded for last 24 hours',
        formatter: 'number',
        render(h, {item}) {
            const val = item.quoteVolume;

            return h(BlinkingCell, {
                props: {
                    value: typeof val === 'number' ? val : +val,
                    valueAlias: typeof val === 'string' ? val : val.toString(),
                    type: 'mark',
                    markPartSmaller: false
                }
            })
        }
    }
];

export default {
    name: 'quotes-table',
    props: {
        data: {
            required: true
        },
        exchange: {
            type: String,
            required: true
        }
    },
    mixins: [
        dateFormatterMixin
    ],
    components: {
        AtTable,
        AtInput,
        BlinkingCell
    },
    data() {
        return {
            pending: false,
            ccxtInstances: {},
            searchString: ''
        }
    },
    computed: {
        columns() {
            return DEFAULT_COLUMNS
                .filter((item) => item.show === true || item.show === undefined)
                .map((item) => {
                    return {
                        ...item,
                        render: item.render ? item.render.bind(this) : undefined
                    }
                })
        },
        tableData() {
            if (this.pending) {
                return [];
            } else {
                const data = this.data
                    .filter((item) => item.last);

                if (this.searchString) {
                    const searchString = this.searchString.toUpperCase();

                    return data
                        .filter((item) => item.symbol.toUpperCase().indexOf(searchString) !== -1)
                } else {
                    return data;
                }
            }
        },
        exchangeInstance() {
            return this.ccxtInstances[this.exchange];
        },
        searchStringUppercase() {
            return this.searchString.toUpperCase();
        }
    },
    methods: {
        checkCcxtInstance() {
            const currExchange = this.exchange;

            if (!currExchange) {
                this.pending = true;
                return;
            }

            const currCcxtInstance = this.ccxtInstances[currExchange];

            if (!currCcxtInstance) {
                const ccxtInstance = new ccxt[currExchange]();
                this.ccxtInstances[currExchange] = ccxtInstance.loadMarkets()
                    .then(() => {
                        this.ccxtInstances[currExchange] = ccxtInstance;
                        if (this.exchange === currExchange) {
                            this.pending = false;
                        }
                    });
            }
        },
        getFormattedPrice(symbol, val) {
            return +this.exchangeInstance.priceToPrecision(symbol, val || 0)
        },
        getFormattedPriceAlias(symbol, val) {
            return this.getFormattedPrice(symbol, val).toString();
        },
    },
    watch: {
        exchange() {
            this.checkCcxtInstance();
        }
    },
    mounted() {
        this.checkCcxtInstance();
    }
}
</script>